.sanghwan-portfolio--about {
  padding-bottom: 60px;
  .page-title {
    text-align: center;
    font-family: "Roboto", sans-serif;
    position: relative;
    overflow: hidden;
    > span {
      display: block;
      position: relative;
      transform-origin: 0% 0%;
      opacity: 0;
      transform: rotate(16deg);
      animation: about-title-ani 3.2s forwards;
    }
  }

  .me-profile {
    overflow: hidden;
    align-items: center;
    margin-bottom: 70px;
    text-align: center;
  }

  .me-profile__me {
    position: relative;
    text-align: center;
    display: inline-block;
    width: 60%;
    border-radius: 8px;
    overflow: hidden;
    img {
      display: inline-block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      animation: about-me-ani 9s infinite 0.3s;
    }
  }
  .me-profile__profile {
    padding-left: 0;
    color: #fff;
    // font-size: 0.9375rem;
    letter-spacing: -1px;
    font-family: "Roboto", sans-serif;
    > p:not(:first-child) {
      margin-top: 0.25rem;
    }
    .p-tit {
      font-family: "Roboto", sans-serif;
    }
    a {
      font-size: inherit;
      display: inline-block;
      white-space: nowrap;
      color: inherit;
    }
  }
  .me-profile__name {
    color: #fff;
    font-size: 18px;
  }
  .me-profile__git {
    a {
      width: 78%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      vertical-align: middle;
    }
  }
  .about-sec {
    position: relative;
    top: 0;
    transform: translateY(100px);
    font-weight: 300;
    word-break: keep-all;
    opacity: 0;
    em {
      font-style: normal;
    }
    animation: about-cont-ani 3.2s forwards 0.5s;
  }
  .about-sec + .about-sec {
    margin-top: 32px;
  }
  .about-sec__tit {
    font-family: "Roboto", sans-serif;
    margin-bottom: 32px;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
  }
  .closing-ment {
    padding-top: 0.5rem;
    text-align: right;
  }
  .strong-point-list {
    margin-left: 16px;
    > li {
      em {
        font-size: 12px;
      }
      &:not(:first-child) {
        margin-top: 20px;
      }
    }
  }
}

@media (min-width: $breakpoint-md) {
  .sanghwan-portfolio--about {
    .me-profile__me {
      text-align: center;
      width: 340px;
    }
    .about-sec {
      max-width: 764px;
      margin: 0 auto;
      // font-size: 18px;
    }
    .about-sec__tit {
      font-size: 44px;
    }
    .strong-point-list {
      > li {
        em {
          font-size: 16px;
        }
      }
    }
  }
}
@media (min-width: $breakpoint-lg) {
  .sanghwan-portfolio--about {
    .about-sec {
      font-size: 20px;
      line-height: 34px;
      + .about-sec {
        margin-top: 60px;
      }
      .me-profile__right {
        .me-profile__name {
          margin-bottom: 20px;
        }
        p:not(.me-profile__name) {
          font-size: 19px;
          margin-top: 0;
          color: #c7c7c7;
          font-weight: 300;
        }
      }
      &__tit {
        font-size: 50px;
        font-weight: 700;
        letter-spacing: -1px;
      }
      .strong-point-list > li,
      &__cont {
        font-size: 22px;
        line-height: 32px;
        font-weight: 400;
      }
    }
  }
}

@keyframes about-title-ani {
  0% {
    opacity: 0;
    transform: rotate(16deg);
  }
  30% {
    transform: rotate(0);
  }
  70% {
    opacity: 1;
    transform: rotate(0);
  }
  100% {
    opacity: 1;
    transform: rotate(0);
  }
}

@keyframes about-cont-ani {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  40% {
    transform: translateY(0);
  }
  90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes about-me-ani {
  0% {
    filter: opacity(1);
  }

  40% {
    filter: opacity(0.6);
  }
  100% {
    filter: opacity(1);
  }
}
