.sanghwan-portfolio--home {
  padding-bottom: 30px;
}

.sanghwan-portfolio--home .page-title {
  &__role {
    letter-spacing: -2px;
  }

  &__name {
    display: inline-block;
    letter-spacing: 1px;
    margin-top: 10px;
    letter-spacing: -1px;
    // font-size: 34px;
    padding-right: 6px;
    background: linear-gradient(to top, #3949ab 75%, transparent 25%);
    font-size: calc(38px + (48 - 38) * ((100vw - 280px) / (575 - 280)));
  }

  .stroke {
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.75);
    font-weight: 600;
  }
}

.ash-greeting {
  margin-bottom: 20px;
  font-size: 15px;
  word-wrap: break-word;
  word-break: keep-all;
}
.ash-hello {
  margin-bottom: 30px;
  > p:not(:first-child) {
    margin-top: 8px;
  }
  > p {
    line-height: 1.5;
  }
}

.ahs-skill-list {
  line-height: 1.8;
  font-size: 14px;
  color: #fff;
  list-style: none;
}

.ahs-skill-list > li {
  &:not(:first-child) {
    margin-top: 2px;
  }
  position: relative;
  padding: 0 6px 0 2px;
  .skill-highlight {
    display: inline-block;
    position: relative;
    padding: 0 4px 0 2px;
    background: linear-gradient(to top, #3949ab 99%, transparent 1%);
    word-wrap: break-word;
    word-break: break-all;
  }
}

@media (min-width: $breakpoint-sm) {
  .sanghwan-portfolio--home {
    padding-bottom: 10px;
  }
  .ash-greeting {
    margin-bottom: 60px;
    font-size: 17px;
  }
  .ash-hello {
    margin-bottom: 20px;
  }
  .ahs-skill-list {
    font-size: 15px;
  }
  .ash-character {
    width: 60%;
    margin: 0 auto;
  }
}
@media (min-width: $breakpoint-md) {
  .sanghwan-portfolio--home {
    .page-title {
      margin-bottom: 30px;
    }
    .page-title__name {
      margin-top: 0;
    }
    .ash-hello {
      margin-bottom: 30px;
    }
  }
  .home-cont {
    display: flex;
    flex-wrap: wrap;
    margin-top: 84px;
    align-items: center;
  }
  .ash-greeting {
    margin-bottom: 0;
    font-size: 18px;
    flex: 1 1 52%;
  }

  .ahs-skill-list {
    font-size: 18px;
    margin-top: 30px;
    line-height: 1.5;
    > li:not(:first-child) {
      margin-top: 4px;
    }
  }
  .ash-character {
    flex: 1 1 36%;
    padding-left: 10px;
    &__inner {
      position: relative;
      max-width: 364px;
      margin: 0 auto;
      &::after {
        content: "";
        display: block;
        padding-top: 100%;
        width: 100%;
      }
    }
    &__img-wrap {
      overflow: hidden;
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 24px;
      border-radius: 100%;
      border: 4px solid #fff;
    }
    &__img {
      overflow: hidden;
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      background: #fff url(/images/ansanghwan_character.png) no-repeat 50% 50% /
        120% auto;
      border-radius: 100%;
    }
    img {
      display: none;
      max-width: none;
    }
  }
}
@media (min-width: $breakpoint-lg) {
  .sanghwan-portfolio--home .page-title__name {
    font-size: 86px;
    padding-left: 8px;
    padding-right: 18px;
  }
  .home-cont {
    margin-top: 100px;
  }
  .ash-greeting {
    font-size: 22px;
  }
  .ash-hello > p:not(:first-child) {
    margin-top: 12px;
  }
  .ahs-skill-list {
    margin-top: 44px;
    > li:not(:first-child) {
      margin-top: 8px;
    }
  }
}

@media (min-width: $breakpoint-xl) {
  .ash-character {
    padding-left: 0;
    flex-basis: 46%;
    &__img-wrap {
      border-width: 6px;
    }
    &__inner {
      max-width: 450px;
    }
  }
  .ash-hello > p {
    line-height: 1.7;
  }
  .ahs-skill-list {
    margin-top: 54px;
    > li {
      font-size: 20px;
    }
    > li:not(:first-child) {
      margin-top: 12px;
    }
  }
}
@media (min-width: $breakpoint-xxl) {
}
